
.slide-1 {
  background-color: #448AFF;
  padding-top: 30;
  padding-bottom: 70;
}

.slide-2 {
  background-color: #8BC30A;
  padding-top: 30;
  padding-bottom: 70;
}
.slide-3 {
  background-color: #fbc440;
  padding-top: 30;
  padding-bottom: 70;
}

Button {
  margin: 5;
  padding-left: 30;
  padding-right: 30;
  border-radius: 20;
  background-color: #14c9f7;
  font-size: 20;
  color: #fff;
}

Label {
  text-align: center;
  width: 90%;
  font-size: 18;
}

.headline {
  font-size: 35;
  margin-top: 35;
}

.subline {
  font-size: 22;
  margin-top: 5;
  width: 90%;
}


.slide-indicator-inactive {
  background-color: #fff;
  opacity : 0.4;
  width : 10;
  height : 10;
  margin-left : 2.5;
  margin-right : 2.5;
  margin-top : 0;
  border-radius : 5;
}

.slide-indicator-active {
  background-color: #fff;
  opacity : 0.9;
  width : 10;
  height : 10;
  margin-left : 2.5;
  margin-right : 2.5;
  margin-top : 0;
  border-radius : 5;
}