ListView {
  separator-color: transparent;
  background-color: transparent;
}

.page {
  background-color: #efefef;
}

.page-content {
  padding: 20;
}

.title {
  text-align: center;
  font-size: 18;
  padding-bottom: 20;
  color: #1da1ff;
  font-weight: bold;
  text-transform: uppercase;
}

.mascot-image {
  width: 45;
  margin-right: 5;
}

.description {
  font-size: 12;
  color: #333333;
  padding-left: 5;
}

.progress-bar {
  height: 30;
  background-color: #f8e1a9;
  border-radius: 15;
  margin-top: 5;
  margin-bottom: 5;
  background-image: ~/images/trophet.png;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30 30;
}

.progress-value {
  background-color: #1da1ff;
  height: 30;
  text-align: right;
  padding-right: 5;
  color: #ffffff;
  font-weight: bold;
}

.progress-text {
  text-align: right;
  padding-right: 5;
  padding-left: 5;
  color: #ffffff;
  font-weight: bold;
}

#lessonList {
  margin-top: 10;
}

.lesson-data {
  background-color: #f7efdb;
  padding: 20 20 0 20;
  border-radius: 20;
  margin-bottom: 10;
}

.lesson-data Image {
  width: 25;
  text-align: left;
}

.lesson-data Label {
  font-weight: 500;
}

.lesson-progress-bar {
  height: 3;
  background-color: #f8e1a9;
  border-radius: 3;
}

.lesson-progress-value {
  background-color: #1da1ff;
  height: 3;
}

.lesson-title {
  padding-bottom: 20;
}
