page {
  background-color: #F5F5F5;
}

label {
  text-transform: uppercase;
  font-size: 20;
  font-weight: 600;
  color: #333;
}

.carousel-btn {
  color: #888;
  border-radius: 20;
  font-size: 30;
  font-weight: 300;
  vertical-align: center;
  z-index: 25;
}

.font-awesome {
  font-family: "FontAwesome", 'fontawesome-webfont';
}

.btn-primary {
  width: 30%;
  border-radius: 30%;
  background-color: #369FF0;
}

TextField {
  background-color: #fff;
  border-width: 4;
  border-color: #E8E8E8;
  width: 65%;
  border-radius: 25%;
  padding-left: 20;
}

.title {
  color: #f1f1f1;
  font-size: 35;
}

#slideContainer {
 vertical-align: center;
}

.mascotImage {
  height: 100%;
  width: 60%;
}

.selected {
  border-color: #369FF0;
  border-width: 4;
  padding: 4 0;
}

.mascot-slide-image {
  width: 100%;
}

.mascot-slide-image StackLayout {
  width: 65%;
  background-color: #F4F3D8;
  border-radius: 20;
}

